BOT_TOKEN=
CHAT_WHITELIST=
FILES_DIR=storage/contracts
GENERATED_DIR=generated
TEMPLATES_DIR=templates
META_DIR=storage/meta
TIMEZONE=Europe/Minsk
REMINDER_DAYS=30
LOG_LEVEL=INFO
YADISK_TOKEN=
GOOGLE_SHEET_ID=
GOOGLE_SHEET_GID=0
GOOGLE_SHEET_NAME=Контроль
GOOGLE_SHEET_FILENAME=Контроль окончания сроков действия контрактов.xlsx
SHEET_SYNC_INTERVAL_MINUTES=5

